<body class="profile-edit">
  <br>
  <h1>Edit Profile</h1>
  <div class="container-profile-edit">
    <%= simple_form_for @profile do |form| %>
      <%= form.error_notification %>
  <br>
      <div class="form-inputs">
        <%= form.input :first_name, label_html: { class: 'strong-label' }  %>
        <%= form.input :last_name, label_html: { class: 'strong-label' }   %>
        <%= form.input :description, label_html: { class: 'strong-label' }  %>
        <%= form.input :photo, as: :file, label_html: { class: 'strong-label' }  %>
      </div>

      <div class="form-actions">
        <%= form.button :submit, class: "btn btn-update-profile" %>
        <%= link_to "Cancel", profile_path(@profile), class: "btn btn-secondary" %>
      </div>
    <% end %><br>
  </div>
</body>
