<h1>Create a profile</h1>

<%= simple_form_for(@profile, url: profile_path, method: :post) do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :description %>
  <%= form.input :photo, label: "Profile Photo (Optional)", as: :file %>
  <%= form.button :submit,  class: "btn btn-primary" %>
  <%= link_to 'Maybe later', resources_path, class: "btn btn-secondary" %>
  <br>
  <br>
  <br>
  <br>
<% end %>
