<h1>New Profile</h1>

<%= simple_form_for(@profile) do |form| %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :description %>
  <%= form.input :photo %>
  <%= form.button :submit %>
<% end %>
