<div class="container-center">
  <h1>My profile</h1>

  <div class="name-container">
    <p><strong>First Name:</strong> <%= @profile.first_name %></p>
    <p><strong>Last Name:</strong> <%= @profile.last_name %></p>
  </div>

  <p class="description"><strong>Description:</strong> <%= @profile.description %></p><br>

  <%= link_to "My Uploads", my_uploaded_resources_path, class: "link-button"  %>
  <br>
  <br>
  <br>

  <%= link_to 'Edit', edit_profile_path, class: "link-button" %>
  <%= link_to 'Delete', profile_path, class: "link-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to 'Back', root_path, class: "link-button" %>
</div>
