<br><h1 class="h1-profile-show">Teacher profile</h1><br>
<div class="container-profile-show">
  <div class="profile-info">
    <div class="profile-details">
      <h2 class="h2-profile-show-name">
        <strong><%= @profile.first_name %> <%= @profile.last_name %></strong>
      </h2><br>
      <p class="profile-description"><%= @profile.description %></p>
      <% if current_user.resources.any? %>
        <%= link_to my_uploaded_resources_path, class: "uploaded-materials link-button" do %>
            <h5><%= @user.resources.count %> Uploaded materials</h5>
        <% end %>
      <% else %>
        <br><h5 class="uploaded-materials">No materials uploaded yet</h5><br>
      <% end %>

      <% if @profile.id == current_user.profile.id %>
        <%= link_to bookmarks_path, class: "bookmarks-link-button link-button" do %>
            <h5><%= @user.bookmarks.count %> Bookmarked materials</h5><br>
        <% end %>
      <% end %>
    </div>
    <% if @profile.id == current_user.profile.id%>
    <div class="profile-icons">
      <%= link_to edit_profile_path(@profile) do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to profile_path(@profile), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
    <% end %>
  </div>
<div class="profile-photo">
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, crop: :fill, class: "avatar-profile", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "profile_neutral.jpg", alt: "Teacher", class: "avatar-default rounded-avatar" %>
    <% end %>
  </div>
</div>
<br><br>
