<div class="container-profile-show">
  <h1>My profile</h1><br>

  <div class="profile-info">
    <h3 class="profile-show-name">
      <strong><%= @profile.first_name %> <%= @profile.last_name %></strong>
    </h3>
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, crop: :fill, class: "avatar-profile", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "profile_neutral.jpg", alt: "Teacher", class: "avatar-default rounded-avatar" %>
    <% end %>
  </div>

  <p class="profile-description">"<%= @profile.description %>"</p>

  <% if current_user.resources.any? %>
    <%= link_to my_uploaded_resources_path, class: "uploaded-materials link-button" do %>
      <p><%= current_user.resources.count %> Uploaded Materials</p>
    <% end %>
  <% else %>
    <p class="uploaded-materials">No materials uploaded yet</p>
  <% end %>
  <br><br>

  <div class="profile-icons">
    <%= link_to edit_profile_path do %>
      <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to profile_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</div><br><br>
