<body class="body-update-materials"><br>
<h2 class="h2-update-materials">Update your teaching materials:</h2><br>
<div class="container-edit-materials">
    <%= simple_form_for(@resource) do |f| %>
        Title: <%= f.input :title, label: false %><br>
        Description: <%= f.input :description, as: :text, input_html: { rows: 4 }, label: false %><br>
        Subject: <%= f.input :subject, label: false %><br>
        Student age: <%= f.input :student_age, label: false %><br>
        Category: <%= f.input :category, label: false %><br>
        Resource type: <%= f.input :resource_type, label: false %><br>
        <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.input :file, as: :file %>
        <%= f.submit "Update Teaching Materials", class: "btn btn-update-materials" %>
        <%= link_to 'Cancel', resource_path, class: "btn btn-cancel-edit" %>
    <% end %>
</div>
  <br>   <br>
  <br>
</body>
