<body class="my-uploads-body">
<br>
<h1 class="my-uploads-title">My Uploads</h1>
<br>
<% if @resources.any? %>
  <div class="card-upload-container">
    <% @resources.each do |resource| %>
        <div class="card-resource" onclick="window.location='<%= resource_path(resource) %>'" style="cursor: pointer;">
          <div class="resource-image">
            <%= cl_image_tag((resource.photos.first.key), class: "img-resource-index") %>
          </div><br>
          <div class="card-resource-infos">
            <h2 class="h2-resource-title"><%= resource.title %></h2><br>
            <div class="row">
              <div class="col">
                <p><i class="fa-solid fa-book"></i><br> <%= resource.subject %></p>
              </div>
              <div class="col">
                <p><i class="fa-solid fa-user"></i><br>Age <%= resource.student_age %></p>
              </div>
              <div class="col">
                <p><i class="fa-solid fa-chalkboard"></i><br> <%= resource.resource_type %></p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<% else %>
  <br>
  <h5 class="no-resources-message">No resources uploaded yet.</h5>
  <br>
<% end %>
<br>
<div class="card-links">
  <%= link_to "Upload Teaching Materials", new_resource_path, class: "btn btn-upload" %>
  <%= link_to "Back to Teaching Materials", resources_path, class: "btn btn-secondary" %>
</div>
<br><br><br>
</body>
