<div class="container-upload-materials">
  <h2>Upload your teaching materials:</h2><br>
    <%= simple_form_for(@resource) do |f| %>
        Title: <%= f.input :title, label: false %><br>
        Description: <%= f.input :description, as: :text, input_html: { rows: 4 }, label: false %><br>
        Subject: <%= f.input :subject, label: false %><br>
        Student age: <%= f.input :student_age, label: false %><br>
        Category: <%= f.input :category, label: false %><br>
        Resource type: <%= f.input :resource_type, label: false %><br>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %><br>
        <%= f.submit "Upload", class: "btn btn-upload-materials" %>
    <% end %>
</div>
<br><br><br>
