<br><h2 class="h2-upload">Upload your teaching materials:</h2><br>
<div class="container-upload-materials">
    <%= simple_form_for(@resource, html: { class: 'form-new-upload' }) do |f| %>
        Title: <%= f.input :title, label: false %><br>
        Description: <%= f.input :description, as: :text, input_html: { rows: 4 }, label: false %><br>
        Subject: <%= f.input :subject, collection: ["Computing", "English", "Geography", "German", "History", "Mathematics", "Physics"], label: false %><br>
        Student age: <%= f.input :student_age, label: false %><br>
        Category: <%= f.input :category, label: false %><br>
        Resource type: <%= f.input :resource_type, collection: ["Databases", "Practice", "Slides", "Video", "Worksheet", "Other"], label: false %><br>
<!--         <%= f.input :photos, as: :file, input_html: { multiple: true } %><br> -->
        <%= f.input :files, as: :file, input_html: { class: "input-new-resource", multiple: true } %><br>
        <%= f.submit "Upload", class: "btn btn-upload-materials" %>
        <%= link_to 'Not now', resources_path, class: "btn btn-not-now" %>
    <% end %>
</div>
<br><br><br>
