<!-- Display one image in the view --->
<%#= cl_image_tag @resource.photo.key, height: 300, width: 400, crop: :fill %>

 <!-- Display multiple images in the view. Needs to be placed in the desired position  --->
    <%# <div class="uploaded-photo">
      <% @resource.photos.each do |photo| %>
        <%#= cl_image_tag photo.key, height: 50, width: 80, crop: :fill %>
      <%# end %>
    <%# </div>  %>
<!--As a background image:  -->
<%# <div class="card-category" %>
  <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill')">  %>
<%# </div> %>
<!-- Display one file in the view --->
<%#= cl_image_tag @resource.file.key, height: 300, width: 400, crop: :fill %>
<body class="resource-show">
<main>
  <h1 class="text-center title-resource-class"><%= @resource.title %></h1>
    <br>
      <div class="d-flex justify-content-center author">
        <p class="fixed-width plain-links"> <%= link_to "Author: #{@resource.user.profile.first_name} #{@resource.user.profile.last_name}", profile_path(@resource.user) %></p>
        <p class= "fixed-width plain-links"><i class="fa-regular fa-comments"></i>
        <% if @resource.user&.chatroom %>
          <%= link_to "Chat with author", chatroom_path(@resource.user.chatroom) %>
        <% else %>
          <p>The author is not available for chat at the moment.</p>
        <% end %></p>
      </div><br>
      <div class="d-flex justify-content-between align-items-top">
        <div class="circle">
          <div class="circle-text">Student age:<h6><br><%= @resource.student_age %></h6></div>
            </div>
            <div class="resource-description">
              <%= @resource.description %>
            </div>
            <div class="circle">
          <div class="circle-text">Subject:<h6><br><%= @resource.subject %></h6></div>
        </div>
      </div>
        <br>
      <div div class="d-flex justify-content-between align-items-top">
        <div class="circle">
          <div class="circle-text">Resource type: <h6><%= @resource.resource_type %></h6></div>
            </div>
              <div>
                </div>
                  <div>
          <!-- Display multiple files in the view. Needs to be placed in the desired position --->
        <%# @resource.file.each do |file| %>
        <% if @resource.file.attached? %>
          <br><br><br><iframe src="<%= cl_image_path @resource.file.key %>.pdf" width="600px" frameborder="0" loading= "lazy"></iframe>
        <% else %>
          <p class="no-file-attached">No file attached</p>
        <% end %>
      </div>
                <div class="circle">
                <div class="circle-text">Category: <h6><%= @resource.category %></h6></div>
              </div>
            </div>
      </div>
      <br><br>
  <div class="d-flex justify-content-evenly">
      <% if @resource.user == current_user %>
      <p class="plain-links">
      <%= link_to edit_resource_path(@resource) do %>
      <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      </p>
      <p class="plain-links"><%= link_to resource_path(@resource), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i>
      <% end %>
      </p>
      <% end %>
  </div>
  <br><br>
  <div class="d-flex justify-content-between">
    <button class="showpage-btn"><%= link_to "Back to Materials", resources_path(@resources) %></button>
    <% if current_user.bookmarks.exists?(resource_id: @resource.id) %>
      <%= button_to 'Remove from Bookmarks', bookmark_path(current_user.bookmarks.find_by(resource_id: @resource.id)), method: :delete, data: { confirm: 'Are you sure you want to remove this bookmark?' }, class: "showpage-btn" %>
    <% else %>
      <%= button_to 'Bookmark', bookmark_resource_path(@resource), method: :post, class: "showpage-btn" %>
    <% end %>
<<<<<<< HEAD
    <button class="showpage-btn"><%= link_to "Back to Resources", resources_path(@resources) %></button>
=======
>>>>>>> 6437974e6eb2593f095c751189598fd4f57ae6a2
    <button class="showpage-btn"><%= link_to "Add a Review", new_resource_review_path(@resource) %></button>
      </div>
        <br>
        <br>
  <br>
<div class="review-box">
  <br>
  <div class="content-review">
    <h4 class="title-review-class">What other teachers thought:</h4><br>
    <% if @resource.reviews.empty? %>
      <p>These materials have not been reviewed yet.</p>
    <% else %>
      <ul class="review-list">
        <% @resource.reviews.each do |review| %>
          <li>
            <% review.rating.times do %>
              <i class="rating-resource fa-solid fa-star"></i>
            <% end %>
            <div class="review-content">
            <em ><%= review.content %></em>
            </div><br>
          </li>
        <% end %>
      </ul><br>
    <% end %>
  </div>
</div>
<br><br>
</main>
</body>
