
<!-- Display one image in the view --->
<%#= cl_image_tag @resource.photo.key, height: 300, width: 400, crop: :fill %>

 <!-- Display multiple images in the view. Needs to be placed in the desired position  --->
    <%# <div class="uploaded-photo">
      <% @resource.photos.each do |photo| %>
        <%#= cl_image_tag photo.key, height: 50, width: 80, crop: :fill %>
      <%# end %>
    <%# </div>  %>

<!--As a background image:  -->
<%# <div class="card-category" %>
  <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, crop: :fill')">  %>
<%# </div> %>


<!-- Display one file in the view --->
<%#= cl_image_tag @resource.file.key, height: 300, width: 400, crop: :fill %>

<main>
  <h1 class="text-center title-resource-class"><%= @resource.title %></h1>
    <br>
      <div class="d-flex justify-content-between align-items-top">
        <div class="circle">
          <div class="circle-text">Student age: <h3><%= @resource.student_age %></h3></div>
            </div>
              <div class="resource-description">
                <%= @resource.description %>
              </div>
            <div class="circle">
          <div class="circle-text">Subject: <h6><%= @resource.subject %></h6></div>
        </div>
    </div>
        <br>

      <div div class="d-flex justify-content-between align-items-top">
      <div class="circle">
          <div class="circle-text">Resource type: <h6><%= @resource.resource_type %></h6></div>
            </div>
            <div>
              </div>
            <div>
          <!-- Display multiple files in the view. Needs to be placed in the desired position --->
            <% @resource.files.each do |file| %>
                <iframe src="https://res.cloudinary.com/di9zm7azt/image/upload/v1710586555/development/<%= file.key %>.pdf" width="600px" frameborder="0" loading= "lazy"></iframe>
            <% end %>
        </div>
                <div class="circle">
                <div class="circle-text">Category: <h6><%= @resource.category %></h6></div>
              </div>
            </div>
        </div>
        <br>
      <div class="d-flex justify-content-evenly author">
          <p class="fixed-width"> Author: <%= @resource.user.profile.first_name %></p>
          <p class= "fixed-width plain-links"><i class="fa-regular fa-comments"></i> <%= link_to "Chat with author", "#" %> </p>
      </div>

  <br>
  <div class="d-flex justify-content-between">
        <button class="showpage-btn"><%= link_to "Back to Resouces", resources_path(@resources) %></button>
    <% if current_user.bookmarks.exists?(resource_id: @resource.id) %>
      <%= button_to 'Remove from Bookmarks', bookmark_path(current_user.bookmarks.find_by(resource_id: @resource.id)), method: :delete, data: { confirm: 'Are you sure you want to remove this bookmark?' }, class: "showpage-btn" %>
    <% else %>
      <%= button_to 'Bookmark', bookmark_resource_path(@resource), method: :post, class: "showpage-btn" %>
    <% end %>

    <button class="showpage-btn"><%= link_to "Add a Review", new_resource_review_path(@resource) %></button>
  </div>
    <br>
    <br>
  <div class="d-flex justify-content-evenly">
  <% if @resource.user == current_user %>
    <p class="plain-links">
      <%= link_to edit_resource_path(@resource) do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
    </p>
    <p class="plain-links"><%= link_to 'Delete', resource_path(@resource), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  <% end %>
  </div>
  <br>
  <h4 class="title-review-class">What other teachers thought</h4>

  <ul class="review-list">
    <% @resource.reviews.each do |review| %>
      <li>
        <% review.rating.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>

              <em class="review-content"><%= review.content %></em></li>
    <% end %>
  </ul>
</main>
