<main>
  <div class="d-flex justify-content-between align-items-center">
    <div class="circle">
      <div class="circle-text">Student age: <h3><%= @resource.student_age %></h3></div>
    </div>
  <h1 class="title-class"><%= @resource.title %></h1>
    <div class="circle">
      <div class="circle-text">Subject: <h6><%= @resource.subject %></h6></div>
    </div>
</div>
<br>
<div class="d-flex justify-content-between align-items-top">
  <div class="circle">
    <div class="circle-text">Category: <h6><%= @resource.category %></h6></div>
  </div>
  <div class="description"><%= @resource.description %></div>
  <div class="circle">
    <div class="circle-text">Resource type: <h6><%= @resource.resource_type %></h6></div>
  </div>
</div>
<br>
<br>
<div class="d-flex justify-content-between">
<% if current_user.bookmarks.exists?(resource_id: @resource.id) %>
  <%= button_to 'Remove from Bookmarks', bookmark_path(current_user.bookmarks.find_by(resource_id: @resource.id)), method: :delete, data: { confirm: 'Are you sure you want to remove this bookmark?' }, class: "btn btn-secondary" %>
<% else %>
  <%= button_to 'Bookmark', bookmark_resource_path(@resource), method: :post, class: "btn btn-secondary" %>
<% end %>
<button class="btn btn-secondary">Download</button>
</div>



<p class="plain-links"><%= link_to 'Back to Teaching materials', resources_path %></p>

<% if @resource.user == current_user %>
  <p class="plain-links"><%= link_to 'Edit', edit_resource_path(@resource) %></p>
  <p class="plain-links"><%= link_to 'Delete', resource_path(@resource), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<% end %>



<ul>
  <% @resource.reviews.each do |review| %>
    <li><%= "star-icon" * @resource.rating %> - <%= review.content %></li>
  <% end %>
</ul>
</main>
